<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555032118951-i107qm50q9nk0gho15ubri0ja0d44t5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555032118951-i107qm50q9nk0gho15ubri0ja0d44t5u</string>
	<key>API_KEY</key>
	<string>AIzaSyDQYFKqjjSV0CIQFboBK8OlZcS7RM1rFiw</string>
	<key>GCM_SENDER_ID</key>
	<string>555032118951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanleeersoftware.flutterplayground</string>
	<key>PROJECT_ID</key>
	<string>flutter-playground-35e72</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-playground-35e72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555032118951:ios:85c0f60d1c8f074948fd82</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-playground-35e72.firebaseio.com</string>
</dict>
</plist>